:root {
  --bl-color-primary: #f27a1a;
  --bl-color-primary-highlight: #ef6114;
  --bl-color-primary-contrast: #fef2e8;
  --bl-color-success: #0bc15c;
  --bl-color-success-highlight: #09a44e;
  --bl-color-success-contrast: #e7f9ef;
  --bl-color-danger: #ff5043;
  --bl-color-danger-highlight: #ff3028;
  --bl-color-danger-contrast: #ffeeec;
  --bl-color-warning: #ffb600;
  --bl-color-warning-highlight: #ff9800;
  --bl-color-warning-contrast: #fff8e6;
  --bl-color-neutral-none: #000;
  --bl-color-neutral-darkest: #0f131a;
  --bl-color-neutral-darker: #273142;
  --bl-color-neutral-dark: #6e7787;
  --bl-color-neutral-light: #95a1b5;
  --bl-color-neutral-lighter: #afbbca;
  --bl-color-neutral-lightest: #f1f2f7;
  --bl-color-neutral-full: #fff;
  --bl-size-4xs: 0.125rem;
  --bl-size-3xs: 0.25rem;
  --bl-size-2xs: 0.5rem;
  --bl-size-xs: 0.75rem;
  --bl-size-s: 0.875rem;
  --bl-size-m: 1rem;
  --bl-size-l: 1.25rem;
  --bl-size-xl: 1.5rem;
  --bl-size-2xl: 2rem;
  --bl-size-3xl: 2.5rem;
  --bl-size-4xl: 3rem;
  --bl-size-5xl: 4rem;
  --bl-size-6xl: 5rem;
  --bl-border-radius-xs: 0.125rem;
  --bl-border-radius-s: 0.25rem;
  --bl-border-radius-m: 0.375rem;
  --bl-border-radius-l: 0.5rem;
  --bl-border-radius-pill: 62.438rem;
  --bl-border-radius-circle: 50%;
  --bl-color-primary-hover: var(--bl-color-primary-highlight);
  --bl-color-success-hover: var(--bl-color-success-highlight);
  --bl-color-danger-hover: var(--bl-color-danger-highlight);
  --bl-color-warning-hover: var(--bl-color-warning-highlight);
  --bl-color-accent-primary-background: var(--bl-color-primary-contrast);
  --bl-color-success-background: var(--bl-color-success-contrast);
  --bl-color-danger-background: var(--bl-color-danger-contrast);
  --bl-color-warning-background: var(--bl-color-warning-contrast);
  --bl-color-primary-background: var(--bl-color-neutral-full);
  --bl-color-content-primary: var(--bl-color-neutral-darker);
  --bl-color-content-secondary: var(--bl-color-neutral-dark);
  --bl-color-content-tertiary: var(--bl-color-neutral-light);
  --bl-color-content-passive: var(--bl-color-neutral-lighter);
  --bl-color-content-primary-contrast: var(--bl-color-neutral-full);
  --bl-color-content-hover: var(--bl-color-primary-highlight);
  --bl-color-border: var(--bl-color-neutral-lighter);
  --bl-color-secondary: #273142;
  --bl-color-secondary-hover: #0f131a;
  --bl-color-secondary-background: var(--bl-color-neutral-lightest);
  --bl-color-tertiary: #f1f2f7;
  --bl-color-tertiary-hover: #d5d9e1;
  --bl-color-alternative: #5794ff;
  --bl-color-alternative-hover: #457eff;
  --bl-color-featured: #8c4eff;
  --bl-color-featured-hover: #753eff;
  --bl-color-tertiary-background: #f7f7fa;
  --bl-color-alternative-background: #eef4ff;
  --bl-color-featured-background: #f4edff;
  --ms-tag-bg: var(--bl-color-primary-contrast);
  --ms-tag-color: var(--bl-color-primary);
  --ms-ring-width: 0;
  --ms-border-color: var(--bl-color-neutral-lighter);
  --ms-border-color-active: var(--bl-color-primary-highlight);
  --ms-spinner-color: var(--bl-color-primary);
  --ms-caret-color: var(--bl-color-neutral-light);
  --ms-max-height: 11.5rem;
  --popper-theme-background-color: var(--bl-color-neutral-full);
  --popper-theme-background-color-hover: var(--bl-color-neutral-full);
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: var(--bl-color-primary-highlight);
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 8px 16px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

$neutral-lighter: #afbbca !default;
$primary: #f27a1a !default;
$danger: #ff5043 !default;
$input-border-color: $neutral-lighter !default;
$input-focus-border-color: $primary !default;
$input-focus-box-shadow-size: 0 !default;
$tooltip-font-size: 400 !default;
$tooltip-radius: 0.25rem !default;
$tooltip-background-color: #0f131a !default;
$tooltip-color: #fff !default;
$tooltip-padding: 1rem 1rem !default;
$footer-padding: 1.2rem !default;
$footer-background-color: #f7fafc !default;
$family-sans-serif: 'Rubik', sans-serif !default;
$label-weight: 500 !default;
$weight-semibold: 500 !default;
$weight-medium: 400 !default;
$weight-normal: 300 !default;
$switch-paddle-offset: 0.09rem !default;
$switch-focus: unset !default;
$size-normal: 0.98rem !default;
$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96) !default;
